@import "tailwindcss";



.sidebar {
    @apply hidden lg:flex flex-col h-screen overflow-y-auto p-6 w-[290px] bg-white border-r border-gray-200 shadow-md;
}

.dashboard-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-3
}

.page-title {
    @apply text-3xl font-bold text-gray-800;
}


.dashboard-card {
    @apply bg-white shadow rounded-md p-6 sm:p-8 lg:p-10 transition duration-300;
}

.card-title {
    @apply text-2xl font-semibold text-gray-800 mb-5;
}

.attendance-status {
    @apply w-12 h-12 text-lg flex items-center justify-center rounded-full;
}

.attendance-text {
    @apply text-gray-600 text-lg font-semibold mt-2;
}


.count {
    @apply text-2xl font-bold text-gray-800;
}

.percent {
    @apply text-lg text-gray-500;
}

.dashboard-p-button {
    @apply w-full bg-[#E0E7FF] hover:bg-[#C7D2FE] text-[#3730A3] text-lg font-semibold py-3 px-4 rounded-lg transition-all duration-200;
}

.dashboard-s-button {
    @apply w-full border border-[#E0E7FF] hover:bg-[#C7D2FE]/20 text-[#3730A3] text-lg font-semibold py-3 px-4 rounded-lg transition-all duration-200;
}






/* Hide sidebar completely on screens smaller than 1024px (lg breakpoint) */
@media (max-width: 1023px) {
    .sidebar {
        display: none;
    }
}





.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: #ffffff;
    border-bottom: 2px solid #e5e7eb;
    box-shadow: 6px 0 8px rgba(0, 0, 0, 0.04);

}


.mobile-header {
    display: flex;
    align-items: center;
    height: 56px;
    justify-content: space-between;
    padding: 0 1rem;
}

@media (min-width: 1024px) {
    .mobile-header {
        display: none;
    }
}


.main-content {
    background-color: #F3F4F6;

}




body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}