@import "tailwindcss";

.page-title {
    @apply text-3xl font-bold text-gray-800;
}


.dashboard-card {
    @apply bg-white shadow rounded-md p-6 sm:p-8 lg:p-10 transition duration-300;
}

.card-title {
    @apply text-2xl font-semibold text-gray-800 mb-5;
}


.attendance-status {
    @apply text-gray-600 text-lg font-semibold mt-2;
}


.count {
    @apply text-2xl font-bold text-gray-800;
}

.percent {
    @apply text-lg text-gray-500;
}




.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    padding: 1.5rem 1rem;
    width: 72px;
    background-color: #ffffff;
    border-right: 2px solid #e5e7eb;
    box-shadow: 6px 0 8px rgba(0, 0, 0, 0.04);
}

@media (min-width: 640px) {
    .sidebar {
        width: 240px;
    }
}

@media (min-width: 1280px) {
    .sidebar {
        width: 290px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: #ffffff;
    border-bottom: 2px solid #e5e7eb;
    box-shadow: 6px 0 8px rgba(0, 0, 0, 0.04);

}


.main-content {
    background-color: #F3F4F6;

}


body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}